::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #343a40;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #24282c;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
.App {
  header {
    .navbar {
      .navbar-brand {
        a {
          color: white;
          font-size: 1.5rem;
        }
      }
      .languageSwitch {
        img {
          width: 40%;
          cursor: pointer;
        }
      }
    }

    .container-fluid {
      padding: 0;
      .card {
        img {
          position: fixed;
          top: 0;
          width: 101%;
          z-index: -1;
        }
        .card-img-overlay {
          margin-top: 15%;
          text-align: center;
          .loading {
            color: rgba(255, 255, 255, 0);
          }
          h1 {
            font-weight: bold;
            font-size: 4vw;
            transition: all 0.75s linear;
          }
          p {
            font-weight: bold;
            font-size: 1.5vw;
            transition: all 0.75s linear;
          }
        }
      }
    }
  }
  main {
    margin-top: 40%;
    width: 100%;
    background-color: #343a40;
    .container-fluid {
      background-color: #343a40;
      padding: 0;
      margin: 0;
      .about {
        background-color: #343a40;
        margin: 0;
        padding: 0;
        .col {
          background-color: #343a40;
          padding: 2% 2%;
          width: 100%;
          h2 {
            color: white;
          }
          p {
            color: rgba(255, 255, 255, 0.7);
          }
        }
        .icons {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          a {
            img {
              width: 75%;
            }
          }
          .cvContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 25%;
            .imgShow {
              width: 11.5vw;
              cursor: pointer;
              transform: scaleX(1);
              transform-origin: center;
              transition: transform 0.2s ease-in;
            }
            .imgClicked {
              width: 11.5vw;
              cursor: pointer;
              transform: scaleX(0);
              transform-origin: center;
              transition: transform 0.2s ease-in;
            }
            .language {
              background-color: white;
              border-radius: 10px;
              width: 80%;
              height: 11.5vw;
              margin-top: -100%;
              .int {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 7px solid #8fddc1;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                a {
                  img {
                    width: 100%;
                  }
                }
              }
            }
            .hidden {
              transform: scaleX(0);
              transform-origin: center;
              transition: all 0.2s ease-out;
            }
            .show {
              transform: scaleX(1);
              transform-origin: center;
              transition: all 0.2s ease-out;
            }
          }
        }
      }
      .tech {
        padding: 0;
        margin: 0;
        background-color: #343a40;
        width: 100%;
        .col {
          padding: 3% 2%;
          background-color: #24282c;
          h2 {
            color: white;
            text-align: center;
            margin-bottom: 5%;
          }
          .list-group {
            justify-content: space-evenly;
            align-items: flex-start;
            .list-group-item {
              width: 10%;
              background: none;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border: none;
              img {
                width: 80%;
              }
              h4 {
                color: rgba(255, 255, 255, 0.5);
                font-size: 1.25em;
                margin-top: 5%;
                text-align: center;
              }
            }
          }
        }
      }
      .container-fluid {
        max-width: 100vw;
        margin: 0;
        padding: 0;
        background-color: #343a40;
        .proyects {
          background-color: #343a40;
          margin: 0;
          padding: 0;
          width: 100%;
          .col {
            background-color: #343a40;
            padding: 2% 2%;
            width: 100%;
            h2 {
              color: white;
              text-align: center;
              margin-bottom: 3%;
            }
            .list-group {
              width: 100%;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              row-gap: 5%;
              align-items: flex-start;
              justify-items: center;
              padding-bottom: 25%;
              .list-group-item {
                width: 60%;
                background-color: #24282c;
                transform: scale(0);
                transition: all 0.2s ease;
                border-radius: 10px;
                &:hover {
                  transform: scale(1.02);
                  transition: all 0.2s ease;
                  background-color: #2b2f33;
                }
                a {
                  text-decoration: none;
                  .carousel {
                    width: 100%;
                    border-radius: 2%;
                    .carousel-indicators {
                      background-color: rgba(52, 58, 64, 0.7);
                      border-radius: 10px;
                    }
                    .carousel-inner {
                      width: 100%;
                      border-radius: 2%;
                    }
                    .carousel-control-next-icon {
                      background-color: rgba(52, 58, 64, 1);
                      width: 25px;
                      height: 25px;
                      border-radius: 50%;
                      background-size: 50% 100%;
                    }
                    .carousel-control-prev-icon {
                      background-color: rgba(52, 58, 64, 1);
                      width: 25px;
                      height: 25px;
                      border-radius: 50%;
                      background-size: 50% 100%;
                    }
                  }
                  img {
                    width: 100%;
                    border-radius: 5px;
                  }
                  h4 {
                    color: white;
                    text-align: center;
                    margin: 10% 0 2% 0;
                  }
                  p {
                    color: rgba(255, 255, 255, 0.7);
                  }
                }
              }
              .show {
                transform: scale(1);
                transition: all 0.5s ease-out;
              }
            }
          }
        }
      }
      .Contact {
        background-color: #24282c;
        .row {
          padding: 2%;
          width: 100%;
          .Form {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
              color: white;
              text-align: center;
            }
            .inputs {
              width: 100%;
              justify-content: space-between;
              padding-top: 4%;
            }
            .textarea {
              width: 100%;
              textarea {
                width: 100%;
                height: 10vw;
                border-radius: 5px;
                margin-bottom: 3%;
              }
            }
          }
          .datos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            a {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-decoration: none;
              img {
                width: 40%;
              }
            }
            .a {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-decoration: none;
              h4 {
                color: rgba(255, 255, 255, 0.7);
              }
              img {
                width: 40%;
              }
            }
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    background-color: #343a40;
    color: rgba(255, 255, 255, 0.7);
    padding: 2% 5%;
    .container-fluid {
      .row {
        justify-content: space-between;
        .col {
          h4 {
            font-size: 1.5em;
            margin: 0 25% 0 0;
          }
          div {
            text-align: end;
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
