@media (max-width: 750px) {
  .App header .navbar .navbar-brand a {
    font-size: 5.75vw;
  }
  .App header .navbar .languageSwitch img {
    width: 10%;
    margin: 2% 0 5% 0;
  }
  .App header .container-fluid .card img {
    width: 200%;
    margin-left: -30%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    margin-top: 5%;
  }
  .App header .container-fluid .card .card-img-overlay {
    margin-top: 40%;
  }
  .App header .container-fluid .card .card-img-overlay h1 {
    font-size: 6vw;
  }
  .App header .container-fluid .card .card-img-overlay p {
    font-size: 3.5vw;
  }
  .App main {
    margin-top: 90%;
  }
  .App main .container-fluid .about .col {
    padding: 7% 30% 6% 5%;
    width: 70vw;
  }
  .App main .container-fluid .about .col h2 {
    font-size: 5.75vw;
    margin-bottom: 6%;
  }
  .App main .container-fluid .about .col p {
    font-size: 3.5vw;
    text-align: left;
  }
  .App main .container-fluid .about .icons {
    width: 24vw;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 5% 5% 0 75%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App main .container-fluid .about .icons a {
    width: 50%;
    margin: 20% 0 20% 0;
  }
  .App main .container-fluid .about .icons a img {
    width: 100%;
  }
  .App main .container-fluid .about .icons .cvContainer {
    margin-top: 25%;
  }
  .App main .container-fluid .about .icons .cvContainer .imgShow {
    width: 20vw;
  }
  .App main .container-fluid .about .icons .cvContainer .imgClicked {
    width: 20vw;
  }
  .App main .container-fluid .about .icons .cvContainer .language {
    height: 20vw;
    width: 16vw;
    margin-top: -330%;
  }
  .App main .container-fluid .about .icons .cvContainer .language .int a {
    margin: 7%;
  }
  .App main .container-fluid .tech .col {
    padding: 10% 5% 5% 5%;
  }
  .App main .container-fluid .tech .col h2 {
    font-size: 5.75vw;
    margin-bottom: 10%;
  }
  .App main .container-fluid .tech .list-group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .App main .container-fluid .tech .list-group .list-group-item {
    width: 30% !important;
  }
  .App main .container-fluid .container-fluid .proyects .col {
    padding: 10% 5%;
  }
  .App main .container-fluid .container-fluid .proyects .col h2 {
    font-size: 5.75vw;
    margin-bottom: 10%;
  }
  .App main .container-fluid .container-fluid .proyects .col .list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 0;
  }
  .App main .container-fluid .container-fluid .proyects .col .list-group .list-group-item {
    width: 100%;
    margin-bottom: 15%;
  }
  .App main .container-fluid .container-fluid .proyects .col .list-group .list-group-item .carousel .carousel-indicators {
    -webkit-transform: scaleY(0.7);
            transform: scaleY(0.7);
  }
  .App main .container-fluid .container-fluid .proyects .col .list-group .list-group-item h4 {
    font-size: 5.5vw;
    margin: 10% 0 5% 0 !important;
  }
  .App main .container-fluid .container-fluid .proyects .col .list-group .list-group-item p {
    font-size: 3.5vw;
    text-align: left;
  }
  .App main .container-fluid .Contact .row {
    padding: 10% 2%;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .App main .container-fluid .Contact .row .Form h2 {
    font-size: 5.75vw;
  }
  .App main .container-fluid .Contact .row .Form .inputs ::-webkit-input-placeholder {
    font-size: 3.75vw;
  }
  .App main .container-fluid .Contact .row .Form .inputs :-ms-input-placeholder {
    font-size: 3.75vw;
  }
  .App main .container-fluid .Contact .row .Form .inputs ::-ms-input-placeholder {
    font-size: 3.75vw;
  }
  .App main .container-fluid .Contact .row .Form .inputs ::placeholder {
    font-size: 3.75vw;
  }
  .App main .container-fluid .Contact .row .Form .textarea textarea {
    height: 30vw;
    font-size: 3.5vw;
  }
  .App main .container-fluid .Contact .row .datos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 5% 0 5% 0;
  }
  .App main .container-fluid .Contact .row .datos a img {
    width: 30%;
  }
  .App main .container-fluid .Contact .row .datos .a h4 {
    font-size: 3.5vw;
  }
  .App main .container-fluid .Contact .row .datos .a img {
    width: 30%;
  }
  .App footer {
    padding: 10% 5%;
  }
  .App footer .container-fluid .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .App footer .container-fluid .row .col {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .App footer .container-fluid .row .col h4 {
    font-size: 4vw;
    text-align: center;
    margin: 0 0 7% 0;
  }
  .App footer .container-fluid .row .col div {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 3.5vw;
  }
}
/*# sourceMappingURL=MobileApp.css.map */